@import "tailwindcss";

:root {
  --primary: #d4af37;
  --secondary: #0f0f0f;
  --accent: #b58e22;

  --background: #ffffff;
  --foreground: #111827;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
